.button-input {
    
    text-align: center;
    margin: 20px 0;
}

.daddy {
    /*display: grid; 
    grid-template-columns: repeat(16, auto); mijenaj ovo 
    grid-template-rows: repeat(16, auto);
    
    /* s ovim mijenjam velicinu grida */
    height: 600px;
    width: 600px;
    border: black solid 1px;
    
    
    
    margin: auto;
    /* grid-auto-rows: minmax(150px, auto);
    grid-row-gap ili grid-column-gap ili samo grid-gap ako je gap isti */
}

.active {
    background-color: black;
}

.boxlet {
    
    height: 100%;
    
}
